In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
    builder. \
    appName("SparkDemo"). \
    config('spark.ui.port','0'). \
    config('spark.shuffle.useOldFethProtocol','true'). \
    config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

In [2]:
loans_def_schema = "member_id string, dealing_2yrs float, dealing_amnt float, pub_rec float, pub_rec_bankruptcies float ,inquiry_last_6months float, total_recorded_late_fee float, months_since_last_dealing float, months_since_last_record float"

In [3]:
loans_def_raw_df = spark.read \
.format("csv") \
.option("header","true") \
.schema(loans_def_schema) \
.load("/user/itv009959/lendingclubproject/raw/loans_defaulters_csv")

In [4]:
loans_def_raw_df

+--------------------+------------+------------+-------+--------------------+--------------------+-----------------------+-------------------------+------------------------+
|           member_id|dealing_2yrs|dealing_amnt|pub_rec|pub_rec_bankruptcies|inquiry_last_6months|total_recorded_late_fee|months_since_last_dealing|months_since_last_record|
+--------------------+------------+------------+-------+--------------------+--------------------+-----------------------+-------------------------+------------------------+
|b59d80da191f5b573...|         0.0|         0.0|    0.0|                 0.0|                 1.0|                    0.0|                     31.0|                    null|
|202d9f56ecb7c3bc9...|         1.0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                      6.0|                    null|
|e5a140c0922b554b9...|         0.0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     47.0|                    null|
|e12aefc548f750777...|         0.0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     33.0|                    null|
|1b3a50d854fbbf97e...|         1.0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     21.0|                    null|
|1c4329e5f17697127...|         0.0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     null|                    null|
|5026c86ad983175eb...|         0.0|         0.0|    1.0|                 0.0|                 2.0|                    0.0|                     null|                    71.0|
|9847d8c1e9d0b2084...|         1.0|         0.0|    2.0|                 0.0|                 0.0|                    0.0|                      6.0|                    63.0|
|8340dbe1adea41fb4...|         0.0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     36.0|                    null|
|d4de0de3ab7d79ad4...|         0.0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     35.0|                    null|
|3df3cdeddb74a8712...|         0.0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     null|                    null|
|9dd72636b1b4045b4...|         0.0|         0.0|    0.0|                 0.0|                 3.0|                    0.0|                     null|                    null|
|1d4e1ef4353b73c00...|         0.0|         0.0|    0.0|                 0.0|                 2.0|                    0.0|                     30.0|                    null|
|6f196952e71277fd4...|         4.0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                      5.0|                    null|
|9c617cbc6e3e3d6a1...|         1.0|         0.0|    0.0|                 0.0|                 2.0|                    0.0|                     20.0|                    null|
|45eb04dd75400a942...|         0.0|         0.0|    0.0|                 0.0|                 2.0|                    0.0|                     28.0|                    null|
|08d233c81f9e50726...|         0.0|         0.0|    0.0|                 0.0|                 1.0|                    0.0|                     null|                    null|
|8ff4d0ed17a1cab92...|         1.0|         0.0|    2.0|                 0.0|                 2.0|                    0.0|                     15.0|                    32.0|
|aec13cfd611b2cfea...|         1.0|         0.0|    0.0|                 0.0|                 1.0|                    0.0|                     19.0|                    null|
|9ba8c96ccba6cd1f0...|         0.0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     37.0|                    null|
+--------------------+------------+------------+-------+--------------------+--------------------+-----------------------+-------------------------+------------------------+
only showing top 20 rows

In [5]:
loans_def_raw_df.createOrReplaceTempView("loans_def")

In [6]:
spark.sql("select dealing_2yrs,count(*) as total from loans_def group by dealing_2yrs order by total desc")

+------------+-------+
|dealing_2yrs|  total|
+------------+-------+
|         0.0|1838878|
|         1.0| 281335|
|         2.0|  81285|
|         3.0|  29539|
|         4.0|  13179|
|         5.0|   6599|
|         6.0|   3717|
|         7.0|   2062|
|         8.0|   1223|
|         9.0|    818|
|        10.0|    556|
|        11.0|    363|
|        12.0|    264|
|        null|    261|
|        13.0|    165|
|        14.0|    120|
|        15.0|     87|
|        16.0|     55|
|        18.0|     30|
|        17.0|     30|
+------------+-------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import col

In [8]:
loans_dealing_modified = loans_def_raw_df.withColumn("dealing_2yrs",col("dealing_2yrs").cast("int")).fillna(0,subset=["dealing_2yrs"])

In [9]:
loans_dealing_modified

+--------------------+------------+------------+-------+--------------------+--------------------+-----------------------+-------------------------+------------------------+
|           member_id|dealing_2yrs|dealing_amnt|pub_rec|pub_rec_bankruptcies|inquiry_last_6months|total_recorded_late_fee|months_since_last_dealing|months_since_last_record|
+--------------------+------------+------------+-------+--------------------+--------------------+-----------------------+-------------------------+------------------------+
|b59d80da191f5b573...|           0|         0.0|    0.0|                 0.0|                 1.0|                    0.0|                     31.0|                    null|
|202d9f56ecb7c3bc9...|           1|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                      6.0|                    null|
|e5a140c0922b554b9...|           0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     47.0|                    null|
|e12aefc548f750777...|           0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     33.0|                    null|
|1b3a50d854fbbf97e...|           1|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     21.0|                    null|
|1c4329e5f17697127...|           0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     null|                    null|
|5026c86ad983175eb...|           0|         0.0|    1.0|                 0.0|                 2.0|                    0.0|                     null|                    71.0|
|9847d8c1e9d0b2084...|           1|         0.0|    2.0|                 0.0|                 0.0|                    0.0|                      6.0|                    63.0|
|8340dbe1adea41fb4...|           0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     36.0|                    null|
|d4de0de3ab7d79ad4...|           0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     35.0|                    null|
|3df3cdeddb74a8712...|           0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     null|                    null|
|9dd72636b1b4045b4...|           0|         0.0|    0.0|                 0.0|                 3.0|                    0.0|                     null|                    null|
|1d4e1ef4353b73c00...|           0|         0.0|    0.0|                 0.0|                 2.0|                    0.0|                     30.0|                    null|
|6f196952e71277fd4...|           4|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                      5.0|                    null|
|9c617cbc6e3e3d6a1...|           1|         0.0|    0.0|                 0.0|                 2.0|                    0.0|                     20.0|                    null|
|45eb04dd75400a942...|           0|         0.0|    0.0|                 0.0|                 2.0|                    0.0|                     28.0|                    null|
|08d233c81f9e50726...|           0|         0.0|    0.0|                 0.0|                 1.0|                    0.0|                     null|                    null|
|8ff4d0ed17a1cab92...|           1|         0.0|    2.0|                 0.0|                 2.0|                    0.0|                     15.0|                    32.0|
|aec13cfd611b2cfea...|           1|         0.0|    0.0|                 0.0|                 1.0|                    0.0|                     19.0|                    null|
|9ba8c96ccba6cd1f0...|           0|         0.0|    0.0|                 0.0|                 0.0|                    0.0|                     37.0|                    null|
+--------------------+------------+------------+-------+--------------------+--------------------+-----------------------+-------------------------+------------------------+
only showing top 20 rows

In [10]:
loans_dealing_modified.createOrReplaceTempView("loans_def")

In [12]:
    spark.sql("select dealing_2yrs,count(*) as total from loans_def group by dealing_2yrs order by total desc").show(50)

+------------+-------+
|dealing_2yrs|  total|
+------------+-------+
|           0|1839141|
|           1| 281337|
|           2|  81285|
|           3|  29545|
|           4|  13180|
|           5|   6601|
|           6|   3719|
|           7|   2063|
|           8|   1226|
|           9|    821|
|          10|    558|
|          11|    363|
|          12|    266|
|          13|    167|
|          14|    123|
|          15|     90|
|          16|     56|
|          17|     33|
|          18|     32|
|          19|     24|
|          20|     19|
|          21|     16|
|          22|      7|
|          24|      6|
|          23|      5|
|          26|      4|
|          29|      2|
|          25|      2|
|          30|      2|
|          28|      1|
|          27|      1|
|          32|      1|
|          35|      1|
|          39|      1|
|          58|      1|
|          42|      1|
|          36|      1|
+------------+-------+

In [13]:
loans_def_dealing_df = spark.sql("select member_id,dealing_2yrs,dealing_amnt,int(months_since_last_dealing)  from loans_def where dealing_2yrs>0 and months_since_last_dealing>0")

In [14]:
loans_def_dealing_df

+--------------------+------------+------------+-------------------------+
|           member_id|dealing_2yrs|dealing_amnt|months_since_last_dealing|
+--------------------+------------+------------+-------------------------+
|202d9f56ecb7c3bc9...|           1|         0.0|                        6|
|1b3a50d854fbbf97e...|           1|         0.0|                       21|
|9847d8c1e9d0b2084...|           1|         0.0|                        6|
|6f196952e71277fd4...|           4|         0.0|                        5|
|9c617cbc6e3e3d6a1...|           1|         0.0|                       20|
|8ff4d0ed17a1cab92...|           1|         0.0|                       15|
|aec13cfd611b2cfea...|           1|         0.0|                       19|
|af7a8a661df3318bd...|           2|         0.0|                        7|
|176d6002f8f60ea33...|           1|      1850.0|                        1|
|2a589bfc0ceedd44d...|           1|         0.0|                        1|
|0faad9eafd79cdb0f...|           1|         0.0|                       17|
|c667c98df57c9e1fd...|           4|         0.0|                       10|
|486b79f40a3a8ed72...|           1|         0.0|                       14|
|a1446f02aa29aaafa...|           1|         0.0|                        5|
|9768305c49441eb4e...|           1|         0.0|                       12|
|bb636703e3c8bfc86...|           1|         0.0|                       17|
|39c33b1a817cc1b2f...|           1|         0.0|                       16|
|89cb1445a8d029377...|           1|         0.0|                       13|
|dad01217ec5d81d7b...|           1|         0.0|                       10|
|0b400437eb7a0767a...|           1|         0.0|                       22|
+--------------------+------------+------------+-------------------------+
only showing top 20 rows

In [45]:
loans_def_inquiry = spark.sql("select member_id from loans_def where pub_rec>0.0 or pub_rec_bankruptcies>0.0 or inquiry_last_6months>0.0")

In [46]:
loans_def_inquiry

+--------------------+
|           member_id|
+--------------------+
|b59d80da191f5b573...|
|5026c86ad983175eb...|
|9847d8c1e9d0b2084...|
|9dd72636b1b4045b4...|
|1d4e1ef4353b73c00...|
|9c617cbc6e3e3d6a1...|
|45eb04dd75400a942...|
|08d233c81f9e50726...|
|8ff4d0ed17a1cab92...|
|aec13cfd611b2cfea...|
|9a51bdc18e2728f9d...|
|2cf47faee0c996343...|
|220e4dd490018abff...|
|aaa32c29cb9ccc7ff...|
|af7a8a661df3318bd...|
|50616b8d1d05cb02a...|
|fbee3f20b9ef84a11...|
|09acc6aa8fd3b0bc8...|
|54b5f6d81c74dd11c...|
|176d6002f8f60ea33...|
+--------------------+
only showing top 20 rows

In [47]:
loans_def_dealing_df.write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path","/user/itv009959/lendingclubproject/cleaned/loans_defaulters_dealing_csv") \
.save()

In [48]:
loans_def_dealing_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv009959/lendingclubproject/cleaned/loans_defaulters_dealing_parquet") \
.save()

In [49]:
loans_def_inquiry.write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path","/user/itv009959/lendingclubproject/cleaned/loans_defaulters_inquiry_csv") \
.save()

In [50]:
loans_def_inquiry.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv009959/lendingclubproject/cleaned/loans_defaulters_inquiry_parquet") \
.save()

In [15]:
loans_dealing_p_public_rec_modified = loans_dealing_modified.withColumn("pub_rec",col("pub_rec").cast("int")).fillna(0,subset=["pub_rec"])

In [16]:
loans_dealing_p_public_rec_bank_modified = loans_dealing_p_public_rec_modified.withColumn("pub_rec_bankruptcies",col("pub_rec_bankruptcies").cast("int")).fillna(0,subset=["pub_rec_bankruptcies"])

In [17]:
loans_dealing_inq6months_modified = loans_dealing_p_public_rec_bank_modified.withColumn("inquiry_last_6months",col("inquiry_last_6months").cast("int")).fillna(0,subset=["inquiry_last_6months"])

In [18]:
loans_dealing_inq6months_modified.createOrReplaceTempView("loans_def")

In [19]:
loans_def_detail_inquiry = spark.sql("select member_id, pub_rec, pub_rec_bankruptcies, inquiry_last_6months from loans_def ")

In [21]:
loans_def_detail_inquiry.count()

2260701

In [22]:
loans_def_detail_inquiry.write \
.format("csv") \
.option("header", True) \
.mode("overwrite") \
.option("path","/user/itv009959/lendingclubproject/cleaned/loans_defaulters_detail_records_csv") \
.save()

In [23]:
loans_def_detail_inquiry.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv009959/lendingclubproject/cleaned/loans_defaulters_detail_records_parquet") \
.save()